
<form action="/signup" method= "post">
     enter name:<input type ="text" name= "name" id="name" />
     enter userid:<input type ="text" name= "userid" id="userid" />
     enter phone:<input type ="text" name= "phone" id="phone" />
     enter maild:<input type ="text" name= "emailid" id="emailid" />
     enter passeword:<input type ="password" name= "password" id="password" />
     enter name:<input type ="submit"  />
        </form>
<%= msg %>

