<form  action= "/pushimage" method="post">
enter osname: <input type="text" name="osname" id= "osname" />
enter commit name: <input type="text" name="cmtname" id="cmtname" /><br />
like: dockeruserid/commitname(same as above)
enter tagname: <input type="text" name="tagname" id="tagname" /><br />
enter credentials:<br />
docker-userid:<input type="text" name="userid" id="userid" />
password: <input type="password" name="dckpassword" id= "dckpassword" />
<input type="submit" value= "create" />
</form>
