<form action="/uploadfile" method="post" enctype="multipart/form-data">
    <input type= "file" name= "image" />
     givefile name: <input type="text" name="filename" id="filename" />
     <input type="submit" value= "send"/>
  </form>
